/*main Colors:
p #08906B
h #A16FA7
bg #53FCCF*/
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	 color: #08c870;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 padding-left: 15px;
	 padding-right: 15px;
}

#devlogMenu {	
	font-size: 18px;
	text-decoration: none;
	 color: #08c870;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 padding-left: 15px;
	 padding-right: 15px;
	background: none;
	border: none;
}

.inL-a {
	padding: 0;
}

.icon {
    background: url('Icon.ico');
    height: 16px;
    width: 16px;
    display: block;
}

body {
  background-color: #454545;
 }

 
 h1 {	 
	 color: #8075ff;
	 text-align: center;
	 font-size: 55px;
}

h2 {
	font-size: 38px;
	color: #8075ff;
	text-align: center;
 }

.DEVLOG_INTRO {
}

 p {
	 font-size: 18px;
	 color: #08c870;
	 text-align: center;
	 padding-top: 10px;
	 padding-bottom: 10px;
 }

 h3 {
	 color: #8075ff;
	 font-size: 25px;
	 text-align: center;
 }
	 
 #post {
	 border-top: 20px;
	 border-bottom: 20px;
}

 img {
	 display: block;
	 margin: auto;
	 padding-top: 20px;
	 padding-bottom: 20px;
	 width: 400px;
}

#end {
	font-size: 16px;
	padding-top: 30px;
}

#nav {
	  display: inline-block;
	  font-size: 20px;
	  text-align: center;
	  float: right;
}
